<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<!-- Bean definition for State -->
    <bean id="state" class="com.pace.springcore.constructorsetterinjection.State">
        <constructor-arg value="Karnataka"/>
        <constructor-arg value="Bengaluru"/>
        <constructor-arg value="67000000"/>
    </bean>

    <!-- Bean definition for Citizen with constructor injection -->
    <bean id="citizen" class="com.pace.springcore.constructorsetterinjection.Citizen">
        <constructor-arg ref="state"/>
        <constructor-arg value="123456789012"/>
        <constructor-arg value="30"/>
    </bean>
	


</beans>